<form method="post" [formGroup]="form">
  <div class="p-msg">
    <p-messages [(value)]="msgs"></p-messages>
  </div>
  <div class="container p-0">
    <div class="row">
      <div class="col-12 p-0">
        <input
          pInputText
          autocomplete="off"
          type="text"
          formControlName="userName"
          placeholder="Username"
          i18n-placeholder="message;userName"
        />
      </div>
      <div class="col-12 p-0">
        <p-password
          [feedback]="false"
          formControlName="currentPassword"
          placeholder="Current Password"
          i18n-placeholder="message;currentPassword"
        />
      </div>
      <div class="col-12 p-0">
        <p-password
          [feedback]="false"
          formControlName="newPassword"
          placeholder="New Password"
          i18n-placeholder="message;newPassword"
        />
      </div>
      <div class="col-12 p-0">
        <p-password
          [feedback]="false"
          formControlName="confirmPassword"
          placeholder="Confirm Password"
          i18n-placeholder="message;confirmPassword"
        />
        <span class="ui-messages-error">
          @if (!isValidPassword()) {
            <span i18n="message;validatePassword">
              Fill a new Password that matches the Confirm Password field
            </span>
          }
        </span>
      </div>
    </div>
  </div>
</form>
<p-footer>
  <div class="p-dialog-footer">
    <p-button
      i18n-label="message;changePasswordConfirm"
      label="Confirm"
      ariaLabel="Confirm"
      (click)="submitForm()"
    ></p-button>
    <p-button
      class="third"
      i18n-label="message;changePasswordCancel"
      label="Cancel"
      ariaLabel="Cancel"
      (click)="hide()"
    ></p-button>
  </div>
</p-footer>
