registry=https://nexus.vermeg.com/repository/veggo-frontend-group/
//nexus.vermeg.com/repository/veggo-frontend-group/:_auth="cGFsbXlyYS1mcm9udGVuZC1yZWFkOnBhbG15cmEtZnJvbnRlbmQtcmVhZCsxMjM="
audit=false
legacy-peer-deps=true
